@page "/order"
@using System.Net.Http.Json
@inject HttpClient Http

<PageTitle>ORDER SERVICE</PageTitle>

<h1>ORDER HERE</h1>

@if (isSubmitted)
{
    <div id="response">Thank you for placing the order! We will confirm it within two business days to your email!</div>
}
else
{
    <p>Please fill in the article number and the amount you wish to order! Then fill in your details. All fields must be filled to send the order!</p>

    <form>
        <div class="form-group">
            <label for="order">What do you want to order?</label><br>
            <textarea type="order" class="form-control-lg" rows="7" id="order" @bind="@order"></textarea>
        </div>
        <br>
        <div class="form-group">
            <label for="email">Enter your contact email:</label><br>
            <input type="email" class="form-control-lg" id="email" @bind-value="@email">
        </div>
        <br>
        <div class="form-group">
            <label for="telephone">Enter your contact telephone number:</label><br>
            <input type="telephone" class="form-control-lg" id="telephone" @bind-value="@telephone">
        </div>
        <br>
        <div class="form-group">
            <label for="company_name">Enter your company name:</label><br>
            <input type="company_name" class="form-control-lg" id="company_name" @bind-value="@company_name">
        </div>
        <br>
        <div class="form-group">
            <label for="company_org">Enter your company organisation number:</label><br>
            <input type="company_org" class="form-control-lg" id="company_org" @bind-value="@company_org">
        </div>
        <br>
        <div class="form-group">
            <label for="company_adress">Enter company adress:</label><br>
            <textarea type="company_adress" class="form-control-lg" rows="3" id="company_adress" @bind="@company_adress"></textarea>
        </div>
        <br>
        <div class="form-group">
            <label for="contact_name">Enter your contact person's name:</label><br>
            <input type="contact_name" class="form-control-lg" id="contact_name" @bind-value="@contact_name">
        </div>
        <br>

        <button type="button" class="btn btn-primary btn-lg" @onclick="SubmitForm">Submit order!</button>
    </form>
<br />
    @if (isNot)
    {
        <div id="response">Please fill in all fields!</div>
    }
}

@code {
    //state model properties and variables
    public string? order { get; set; }
    public string? email { get; set; }
    public string? telephone { get; set; }
    public string? company_name { get; set; }
    public string? company_org { get; set; }
    public string? company_adress { get; set; }
    public string? contact_name { get; set; }
    public string? status { get; set; } = "Active order!";
    public string? internal_note { get; set; } = "Add notes...";
    
    //variables for HTML modification
    private bool isSubmitted = false;
    private bool isNot = false;

    //task to validate order form
    private async Task SubmitForm()
    {
        //check if input fields are null or empty
        if (!string.IsNullOrEmpty(email) && !string.IsNullOrEmpty(telephone) && !string.IsNullOrEmpty(company_name) && !string.IsNullOrEmpty(company_org) && !string.IsNullOrEmpty(company_adress) && !string.IsNullOrEmpty(contact_name))
        {
            //send order form to API
            var data = new { order, email, telephone, company_name, company_org, company_adress, contact_name, status, internal_note };
            await Http.PostAsJsonAsync("https://localhost:7090/api/OrderAPI/", data);
            
            //change value in variable to change page information displayed
            isNot = false;
            isSubmitted = true;

        } else {
            //if not filled, display error message
            isNot = true;
        }
    }
}

<style>
    .order {
        background-color: lightgray;
    }

    #response {
        font-size: 1.5em;
    }

    .btn-primary {
        background-color: navy;
    }

    label {
        font-weight:700;
    }
</style>

